<div class="inDialogBlock">
    <div class="smallImgContainer">
        <div class="imgContainer">
            <h4>Light logo</h4>
            <img id="retLogoImg" src="<%= model.retailerLogo  || 'images/def_user.png'%>" alt="Img">
            <input type="file" id="retLogoImgInpt" class="retInpmFile" hidden>
            <a class="btn btnSmall btnBlue"><label for="retLogoImgInpt">Upload</label></a>
        </div>

        <div class="imgContainer">
            <h4>Dark logo</h4>
            <img id="retRetLogoImg" src="<%= model.retailerDarkLogo || 'images/def_user.png'%>" alt="Img">
            <input type="file" id="retRetLogoImgInpt" class="retInpmFile" hidden>
            <a class="btn btnSmall btnBlue"><label for="retRetLogoImgInpt">Upload</label></a>
        </div>
    </div>
    <div class="imgContainer coverImage">
        <h4>Cover image</h4>
        <img id="retCoverImg" src="<%= model.coverImage || 'images/def_user.png'%>" alt="Img">
        <input type="file" id="retCoverImgInpt" class="retInpmFile" hidden>
        <a class="btn btnSmall btnBlue"><label for="retCoverImgInpt">Upload</label></a>
    </div>
</div>
<div class="inDialogBlock dialogFormBlock">
    <div class="formItem">
        <label for="regName">Name</label>
        <input type="text" id="regName" value="<%- model.retailerName || ''%>">
    </div>
    <div class="formItem">
        <label for="regWeb">Website</label>
        <input type="text" id="regWeb" value="<%- model.website || ''%>">
    </div>
    <div class="formItem">
        <label for="regDescrip">Description</label>
        <textarea id="regDescrip"><%- model.retailerDescription || ''%></textarea>
    </div>
    <div class="formItem">
        <label for="regTips">Shopping tips</label>
        <input type="text" id="regTips" value="<%- model.shoppingTips || ''%>">
    </div>
    <div class="formItem">
        <label for="regMaleProdIds">Male product ids</label>
        <input type="text" id="regMaleProdIds" value="<%- model.maleFeaturedProductIDs || ''%>">
    </div>
    <div class="formItem">
        <label for="regFemaleProdIds">Female product ids</label>
        <input type="text" id="regFemaleProdIds" value="<%- model.femaleFeaturedProductIDs || ''%>">
    </div>
</div>
