<tr id="<%= model.objectId%>" class="retItem">
    <td class="tLogo" title="<%= model.logo || 'default image'%>"><img width="40px" height="40px" src="<%= model.logo || 'styles/libs/images/def_user.png'%>" alt="img"></td>
    <td class="tRetLogo" title="<%= model.retailerLogo || 'default image'%>"><img width="40px" height="40px" src="<%= model.retailerLogo || 'styles/libs/images/def_user.png'%>" alt="img"></td>
    <td class="tRetName"><%- model.retailerName || ''%></td>
    <td class="tRetWeb"><%- model.website || ''%></td>
    <td class="tRetDescrip"><%- model.retailerDescription || ''%></td>
    <td><button class="retEditBtn">Edit</button></td>
    <td><button class="retDelBtn">Delete</button></td>
</tr>