// Buttons style

.btn {
  @include transition(background-color .2s ease-in-out);
  @include no-select;
  background-color: $white !important;
  font-family: $semiBoldFontFamily !important;
  color: $white !important;
  cursor: pointer;
  text-align: center !important;
  text-transform: uppercase;
  vertical-align: middle !important;
  display: inline-block !important;
  white-space: nowrap !important;
  outline: 0;
  border-radius: 4px !important;
  border-width: 1px !important;
  border-style: solid !important;

  &Large {
    width: auto;
    padding: 0 15px;
    height: 40px;
    @include rem(font-size, 14px);
    @include rem(line-height, 38px);
  }

  &Medium {
    width: auto;
    padding: 0 10px !important;
    height: 40px !important;
    @include rem(font-size, 12px);
    @include rem(line-height, 38px);
  }

  &Small {
    width: auto;
    padding: 0 10px;
    height: 30px;
    @include rem(font-size, 12px);
    @include rem(line-height, 28px);
  }

  &Blue {
    border-color: $btnBlueColor !important;
    color: $btnBlueColor !important;

    &:hover {
      background-color: $btnBlueColor !important;

      a{
        color: $white !important;
      }
    }
    a{
      color: $btnBlueColor !important;
      text-decoration: none;
    }
  }

  &Error {
    border-color: $btnRedColor !important;
    color: $btnRedColor !important;

    &:hover {
      background-color: $btnRedColor !important;
    }
  }

  &Success {
    border-color: $btnGreenColor !important;
    color: $btnGreenColor !important;

    &:hover {
      background-color: $btnGreenColor !important;
    }
  }

  &Disable {
    border-color: $btnGrayColor;
    color: $btnGrayColor;

    &:hover {
      background-color: $btnGrayColor;
    }
  }

  &:hover {
    color: $white !important;
  }
  label{
    cursor: pointer;
  }
}
#createBtn{
  margin-bottom: 15px;
}