<div>
    <form id="logForm"></form>
    <div id="logBox">
        <label for="logEmail"></label>
        <input type="email" id="logEmail" placeholder="Email..." form="logForm">
        <label for="logPass"></label>
        <input type="password" id="logPass" placeholder="Password..." form="logForm">
        <input type="checkbox" id="logStay">
    </div>
    <div>
        <input type="button" id="logBtn" value="log in">
        <input type="button" id="logBtnReg" value="register">
    </div>
</div>