
    <div id="homeUserList" class="fourthBox">
        <table>
            <thead>
                <tr>
                    <td>Avatar</td>
                    <td>Name</td>
                    <td>Surname</td>
                </tr>
            </thead>
            <tbody id="usrContainer">
                <!--user data-->
            </tbody>
        </table>
    </div>
    <div id="homeAnimalList" class="fourthBox">
        <!--animal data-->
    </div>
    <div id="usrEditBox" class="fourthBox">

    </div>
    <div class="fourthBox">

    </div>
