<div id="styleItem-form" class="dialogFormBlock">
    <!-- style imageString -->
    <div class="styleImageContainer coverImage">
        <img src="<%= model.imageString || 'images/style_default.png' %>" alt="img" id="cropImage" /><br />
        <input type="file" id="styleImage" class="styleInputFile" hidden>
        <a class="btn btnSmall btnBlue"><label for="styleImage">Upload</label></a>
        <span id="cropBtn" hidden><a class="btn btnSmall btnBlue"><label for="styleImage">Crop</label></a></span>
    </div>

    <!-- style gender -->
    <div id="editCardGender">
        <input id="male" type="radio" name="gender" value="male" checked><label for="male">male</label>
        <input id="female" type="radio" name="gender" value="female"><label for="female">female</label>
        <input id="unisex" type="radio" name="gender" value="unisex"><label for="unisex">unisex</label>
    </div>

    <!-- retailers list in select -->
    <div class="formItem">
        <label for="editCardRetailer">Retailer:</label>
        <a id="editCardRetailer" data-id="" href="javascript:;"><%- model.retailerString || 'Without retailer'%></a>
        <ul id="retailersList" hidden>
            <%  var limit = retailers.length;
            for (var index = 0; index < limit; index +=1) { %>
            <li data-id='<%= retailers[index].objectId %>' class='retSelectItem'><%- retailers[index].retailerName || ''%></li>
            <% } %>
        </ul>
    </div>

    <!-- style title -->
    <div class="formItem">
        <label for="title">Title</label>
        <input type="text" value="<%= model.styleTitle || '' %>" id="title" />
    </div>

    <!--style description -->
    <div class="formItem">
        <label for="description">Description</label>
        <input type="text" value="<%= model.styleDescription || '' %>" id="description" />
    </div>

    <!--style productIDs -->
    <div class="formItem">
        <label for="featuredProductIDs">Featured products id</label>
        <input type="text" value="<%= model.featuredProductIDs || '' %>" id="featuredProductIDs" />
    </div>
</div>
