<div>
    <button id="createBtn">Create new style item</button>
    <div id="dialogContainer"></div>
    <table>
        <thead>
        <tr>
            <td>Image</td>
            <td>Gender</td>
            <td>Title</td>
            <td>Description</td>
        </tr>
        </thead>
        <tbody id="styleItemsList">
            <% for (var index = collection.length - 1; index >= 0; index -= 1) { %>
            <tr class="styleItemRow" id="<%= collection[index].objectId %>">
                <td><img width="60px" height="60px" src="<%= collection[index].imageString || 'images/style_default.png' %>" alt="img" /></td>
                <td><%= collection[index].gender || '' %></td>
                <td><%= collection[index].styleTitle || ''%></td>
                <td><%= collection[index].styleDescription || ''%></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>