<div class="contentView">
    <div class="col s-12">
        <div id="dialogContainer"></div>
        <table>
            <thead>
            <tr>
                <th>Image</th>
                <th>Gender</th>
                <th>Title</th>
                <th>Description</th>
                <th colspan="2" class="align-center"><a class="btn btnSmall btnBlue" id="styleCreateBtn">Create</a></th>
            </tr>
            </thead>
            <tbody id="styleListContainer"></tbody>
        </table>
    </div>
</div>