body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
}

.fourthBox {
    width: 50%;
    height: 50%;
    display: block;
    float: left;
    overflow: auto;
}

.usrItem {
    height: 40px;
    cursor: pointer;
}

#editImage {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.itemRoundImage {
    width: 40px;
    height: 40px;
}
.retItem:hover,
.usrItem:hover {
    background-color: #e2ded3;
    cursor: pointer;
}

.retItem.active {
    background-color: #e2ded3;
}

#topBar {
    display: none;
    height: 40px;
    width: 100%;
    background-color: #e2ded3;
}

.loggedState #topBar {
    display: block;
}

.imgContainer {
    display: block;
    float: left;
}
