<div id="dialog-form" class="dialogFormBlock">
    <div class="formItem">
        <label for="firstName">FirstName</label>
        <input type="text" id="firstName" value="<%= firstName %>" class="text ui-widget-content ui-corner-all">
    </div>
    <div class="formItem">
        <label for="lastName">LastName</label>
        <input type="text" id="lastName" value="<%= lastName %>" class="text ui-widget-content ui-corner-all">
    </div>
    <div class="formItem">
        <label for="email">Email</label>
        <input type="text" id="email" value="<%= email %>" class="text ui-widget-content ui-corner-all">
    </div>
</div>
