<div>
    <div id="regBox">
        <label for="regEmail"></label>
        <input type="email" id="regEmail" placeholder="Email...">
        <label for="regFirstName"></label>
        <input type="text" id="regFirstName" placeholder="First name...">
        <label for="regLastName"></label>
        <input type="text" id="regLastName" placeholder="Last name...">
        <label for="regPass"></label>
        <input type="password" id="regPass" placeholder="Password...">
        <label for="regConfirm"></label>
        <input type="password" id="regConfirm" placeholder="Confirm password...">
    </div>
    <div>
        <input type="button" id="regBtnBack" value="back to login">
        <input type="button" id="regBtn" value="register">
    </div>
</div>